.banner-section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
}
.banner-section .banner-bg {
  background: url("../images/banner.png") no-repeat center center/cover;
  height: 100%;
  position: relative;
}
.banner-section .banner-bg .banner-overlay {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 2rem;
}
.banner-section .banner-bg .banner-overlay .scroll-text-wrapper {
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding-bottom: 30vh;
}
.banner-section .banner-bg .banner-overlay .scroll-text-wrapper .scroll-text span {
  display: inline-block;
  font-size: clamp(4rem, 12vw, 14rem);
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  color: #fff;
}
@media (max-width: 1358px) {
  .banner-section .banner-bg .banner-overlay .scroll-text-wrapper .scroll-text span {
    font-size: clamp(4rem, 12vw, 12rem);
  }
}
@media (max-width: 1169px) {
  .banner-section .banner-bg .banner-overlay .scroll-text-wrapper .scroll-text span {
    font-size: clamp(4rem, 12vw, 10rem);
  }
}
@media (max-width: 981px) {
  .banner-section .banner-bg .banner-overlay .scroll-text-wrapper .scroll-text span {
    font-size: clamp(4rem, 12vw, 7rem);
  }
}
@media (max-width: 699px) {
  .banner-section .banner-bg .banner-overlay .scroll-text-wrapper .scroll-text span {
    font-size: clamp(5rem, 12vw, 5rem);
  }
}
.banner-section .banner-bg .banner-overlay .banner-bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
}
.banner-section .banner-bg .banner-overlay .banner-bottom .banner-bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.banner-section .banner-bg .banner-overlay .banner-bottom .trust-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.banner-section .banner-bg .banner-overlay .banner-bottom .trust-info h5 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}
.banner-section .banner-bg .banner-overlay .banner-bottom .trust-info strong {
  font-weight: 700;
}
.banner-section .banner-bg .banner-overlay .banner-bottom .awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.banner-section .banner-bg .banner-overlay .banner-bottom .awards img {
  height: 40px;
  width: auto;
}
/*# sourceMappingURL=_banner.css.map */