.know-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 12.9rem;
  height: 3.9rem;
  border: 1px solid #585858;
  border-radius: 3rem;
  text-decoration: none;
  color: $white-color;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  .dot {
    width: 8px;
    height: 8px;
    background-color: $yellow-color;
    border-radius: 50%;
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .text {
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); // subtle light overlay
    border-color: $yellow-color;
    // color: $yellow-color;

    .dot {
      transform: scale(1.4); // slightly enlarge the dot
    }

    .text {
      color: $white-color;
    }
  }
}


// common span dot //
  .dot {
    width: 12px;
    height: 12px;
    background-color: $yellow-color;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-big {
    width: 40px;
    height: 40px;
    background-color: $yellow-color-10;
    border-radius: 50%;
    display: inline-block;
  }

//  contact now //
   .contact-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 1.5rem;
  background-color: #fff;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 999px;
  text-decoration: none;
  border: none;
  transition: all 0.3s ease;

  .dot {
    width: 8px;
    height: 8px;
    background-color: #FFBB01;
    border-radius: 50%;
    display: inline-block;
  }

  .text {
    line-height: 1;
  }

  .contact-arrow {
    background-color: #FFBB01;
    border-radius: 50%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow-img {
      width: 25px;
      height: 25px;
      display: block;
    }
  }

  &:hover .arrow img {
    transform: translate(2px, -2px);
    transition: transform 0.3s ease;
  }
}


// bubble //
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");


// Page Content
.page-content {
  padding: 5rem;
  z-index: 1;
  position: relative;
}

// Blob Styles
.cursor-blob {
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #93AE18;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}


.cursor-text {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;


  .highlight {
    width: 5px;
    height: 5px;
    background-color: #FFBB01;
    border-radius: 50%;
    display: inline-block;
  }
}
