.contact-section {
  background-color: #111;
  padding: 4rem 2rem;
  color: #fff;
  font-family: 'Inter', sans-serif;

  .contact-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 4rem 0;
  }

  .contact-message {
    flex: 1;
    min-width: 260px;

    p {
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 3rem;
        line-height: 4.5rem;
        letter-spacing: 0%;
        max-width: 47rem;
        margin: 0;
        padding-bottom: 2.4rem;
    }
}

  .contact-info {
    // flex: 1;
    // min-width: 220px;

    h4 {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: 0%;
        padding-bottom: 2.1rem;
    }
    
    p{
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin: 0;
        letter-spacing: 0%;
        padding-bottom: 2.6rem;
    }
    a{
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 2.5rem;
        line-height: 2.7rem;
        letter-spacing: 0%;
    }

    .info-link {
      color: #aaa;

      .arrow {
        font-size: 1rem;
        margin-left: 0.4rem;
      }

      &:hover {
        color: #fff;
      }
    }

    .phone-number {
      color: #fff;
      font-weight: 500;
    }
  }
}
