// Inter Font Stylesheet //
@font-face {
    font-family: "inter";
    src: url("/Acofolio/fonts/Inter/static/Inter_18pt-Regular.ttf");
    font-weight: 400; // Regular weight
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter";
    src: url("/Acofolio/fonts/Inter/static/Inter_18pt-Light.ttf");
    font-weight: 300; // Regular weight
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter";
    src: url("/Acofolio/fonts/Inter/static/Inter_18pt-Medium.ttf");
    font-weight: 500; // Medium weight
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter";
    src: url("/Acofolio/fonts/Inter/static/Inter_18pt-SemiBold.ttf");
    font-weight: 600; // SemiBold weight
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter";
    src: url("/Acofolio/fonts/Inter/static/Inter_18pt-ExtraBold.ttf");
    font-weight: 700; // ExtraBold weight
    font-style: normal;
    font-display: swap;
}

// Roboto Font Stylesheet //
@font-face {
    font-family: "roboto";
    src: url("/Acofolio/fonts/Roboto/static/Roboto-Regular.ttf");
    font-weight: 400; // Regular weight
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("/Acofolio/fonts/Roboto/static/Roboto-Medium.ttf");
    font-weight: 500; // Medium weight
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("/Acofolio/fonts/Roboto/static/Roboto-SemiBold.ttf");
    font-weight: 600; // SemiBold weight
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("/Acofolio/fonts/Roboto/static/Roboto-Bold.ttf");
    font-weight: 700; // Bold weight
    font-style: normal;
    font-display: swap;
}