.projects-section {
  background: #000;
  color: #fff;
  padding-top: 14.2rem;
  padding-bottom: 15.5rem;
  font-family: 'Koho', sans-serif;
  @media (max-width: 1024px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .quote-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10.2rem;
    align-items: center;
    margin-bottom: 6.25rem;
    @media (max-width: 1024px) {
        gap: 5rem;
        justify-content: center;
    }

    .quote-image {
        width: 100%;
        max-width: 700px;
        height: 700px;
        border-radius: 8px;
        object-fit: cover;
        @media (max-width: 770px) {
            height: auto;
        }
    }

    .quote-text {
      flex: 1;
      .quote{
          display: flex;
          flex-direction: column;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 20%;
          left: 50%;
          @media (max-width: 1024px) {
              display: flex;
              position: unset;
              transform: unset;
              top: unset;
              left: unset;
          }
          h2 {
              font-family: Inter;
              font-weight: 200;
              font-style: Extra Light;
              font-size: 8rem;
              line-height: 100%;
              letter-spacing: 0%;
              @media (max-width: 770px) {
                    font-size: 6rem;
              }
              @media (max-width: 570px) {
                    font-size: 4.5rem;
              }
          }
      }

      p {
          font-family: Inter;
          font-weight: 300;
          font-style: Light;
          font-size: 2.5rem;
          line-height: 4rem;
          letter-spacing: 0%;
          max-width: 35.5rem;
          margin: 0;
          padding-top: 12rem;
          padding-bottom: 3.5rem;
          @media (max-width: 1024px) {
              padding-top: 5rem;
              max-width: 100%;
            }
            @media (max-width: 770px) {
                font-size: 2rem;
                line-height: 4rem;
                padding-top: 3rem;
                max-width: 100%;
          }
      }
    }
  }

  .projects-heading {
      padding-top: 6.25rem;
      text-align: center;
      margin-bottom: 4rem;
      @media (max-width: 1024px) {
          padding-top: 5rem;
        }
    h1 {
        font-family: Inter;
       font-weight: 400;
       font-style: Regular;
       font-size: 20rem;
       line-height: 100%;
       letter-spacing: 0%;
       text-align: center;
       @media (max-width: 1024px) {
           font-size: 15rem;
           line-height: 100%;
       }
       @media (max-width: 770px) {
           font-size: 10rem;
           line-height: 100%;
       }
       @media (max-width: 500px) {
           font-size: 7rem;
           line-height: 100%;
       }
    }

    p {
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 4rem;
        line-height: 6rem;
        letter-spacing: 0%;
        text-align: center;
        color: $secondary-color;
        @media (max-width: 1024px) {
            font-size: 3rem;
            line-height: 5rem;
        }
        @media (max-width: 770px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        @media (max-width: 500px) {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
  }

.project-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid #333;
  padding-top: 2rem;
//   margin-bottom: 4rem;
  cursor: pointer; // for hover/click interaction
  margin: 0px 40px;
  .image-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s;
    opacity: 0;

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  // ON HOVER: Show image
  &:hover .image-block,
  &.active .image-block {
    max-height: 1000px; // enough to show full image
    opacity: 1;
  }

  .text-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4.6rem;
    @media (max-width: 770px) {
        gap: 2.5rem;
    }
    .acco-img{
         @media (max-width: 500px) {
             display: none;
         }
     }
    .number {
        font-family: Inter;
        font-weight: 200;
        font-style: Extra Light;
        font-size: 6rem;
        line-height: 6rem;
        letter-spacing: 0%;
        color: $yellow-color;
        @media (max-width: 770px) {
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    .details {
        flex: 1;
        display: flex;
        gap: 3.6rem;
        flex-direction: row;
        align-items: center;
        @media (max-width: 770px) {
            gap: 2.5rem;
        }
        @media (max-width: 750px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }
      h2 {
          font-family: Inter;
          font-weight: 200;
          font-style: Extra Light;
          font-size: 6rem;
          line-height: 6rem;
          letter-spacing: 0%;
          @media (max-width: 1269px) {
              font-size: 4rem;
              line-height: 6rem;             
          }
          @media (max-width: 1085px) {
              font-size: 3rem;
              line-height: 5rem;             
          }
          @media (max-width: 770px) {
              font-size: 2rem;
              line-height: 3rem;             
          }
      }
      h5 {
          font-family: Inter;
          font-weight: 300;
          font-style: Light;
          font-size: 2rem;
          line-height: 4rem;
          letter-spacing: 0%;
          color: $gray-color;
          @media (max-width: 770px) {
              font-size: 1.5rem;
              line-height: 3rem;
          }
      }
    }

    .arrow-btn {
      background: #6aff00;
      color: #000;
      border: none;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      font-size: 1.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;

      &:hover {
        background: #fff;
      }
    }
  }
}
}
    