// color variables for the project //
$primary-color: #0D0C0C;
$secondary-color: #C7C7C7;
$background-color: #0D0C0C;
$black-color: #000000;
$black-color-1: #1E1E1E;
$gray-color: #9D9D9D;
$gray-color-1: #585858;
$white-color: #FFFFFF;
$yellow-color: #FFBB01;
$yellow-color-10:rgba(255, 187, 1, 0.1);
$green-color: #93AE18;
$btn-border: 1px solid #585858;
$txtopacity-20: rgba(199, 199, 199, 0.2);
$whiteopacity: rgba(255, 255, 255, 0.95);
$border-color: 1px solid rgba(255, 255, 255, 0.2);

// breakpoints for responsive design //
$xsmall: 480px;
$small: 600px;
$medium: 770px;
$large: 980px;
$xlarge: 1200px;
